<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="height:50vh;"> 
    <h1 style="margin: 1vh;color: black;"></h1>
    <p><%= text %></p>
    <a href="http://classes-time.herokuapp.com/user/<%= id %>/<%= action %>" style="text-decoration: none;color: white;padding: 2vh 5vh;border-radius: 1vh;background: linear-gradient(to right, #56CCF2, #2F80ED);">Confirm</a>
</body>
</html>