<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" href="public/favicon/apple.png?">
    <link rel="shortcut icon" href="public/favicon/browser.png?">
    <link rel="image_src" href="public/favicon/share.png?">
    <link rel="manifest" href="public/favicon/site.webmanifest?">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/signup.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Recovery</title>
</head>
<body>
    <h1>RECOVERY</h1>
    <form id="email" method="POST">
        <input type="text" name="email" placeholder="email" id="email">
        <input type="submit" id="submit">
        <p class="error"><%= error %></p>
    </form>

    <a href="http://classes-time.herokuapp.com/">Go back to the login page</a>

    <script src="public/js/requestRecovery.js"></script>
</body>
</html>