<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" href="public/favicon/apple.png?">
    <link rel="shortcut icon" href="public/favicon/browser.png?">
    <link rel="image_src" href="public/favicon/apple.png?">
    <link rel="manifest" href="public/favicon/site.webmanifest?">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/signup.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <title>Sign Up</title>
</head>
<body>
    <h1>SIGN UP</h1>
    
    <form id="data" method="post" onsubmit="return formSubmit();">
        <select form="data" name="form" onfocus='this.size=4;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
            <option value="" disabled selected>form</option>
            <option value="5А">5А</option>
            <option value="5Б">5Б</option>
            <option value="5В">5В</option>
            <option value="6А">6А</option>
            <option value="6Б">6Б</option>
            <option value="6В">6В</option>
            <option value="7А">7А</option>
            <option value="7Б">7Б</option>
            <option value="7В">7В</option>
            <option value="8А">8А</option>
            <option value="8Б">8Б</option>
            <option value="8В">8В</option>
            <option value="9А">9А</option>
            <option value="9Б">9Б</option>
            <option value="9В">9В</option>
            <option value="10А">10А</option>
            <option value="10Б">10Б</option>
            <option value="11А">11А</option>
            <option value="11Б">11Б</option>
        </select>
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" id="password" placeholder="password" required>
        <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="confirm your password" required>
        <input type="submit" name="submit" id="submit">
    </form>

    <p class="error"><%=msg%></p>

    <a href="login">Go back to the login page</a>

    
    <script src="js/signup-client.js"></script>
</body>
</html>