@import url('https://fonts.googleapis.com/css?family=Montserrat:600,800&display=swap');
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 800;
    font-size: 8vh;
    padding: 0;
    margin: 7vh;
    text-transform: uppercase;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    font-family: 'Montserrat';
    width: 45vw;
    padding: 2vh; 
    margin-bottom: 3.5vh; 
    background-color: #f6f5f5;
    border: none;
    border-radius: 1vh;
    color: #c8c8c8;
    font-size: 2vh;
    box-shadow: 0px 4px 3px 1px rgba(0,0,0,0.08);
}

option{
    margin: 0.5vh;
}

input{
    font-family: 'Montserrat';
    box-sizing: border-box;
    width: 45vw;
    padding: 2vh;
    margin-bottom: 3.5vh; 
    background-color: #f6f5f5;
    border: none;
    border-radius: 1vh;
    color: #4b4b4b;
    font-size: 2vh;
    box-shadow: 0px 4px 3px 1px rgba(0,0,0,0.08);
}

#submit{
    padding: 2vh;
    margin-bottom: 3.5vh; 
    background-color: #f6f5f5;
    border: none;
    border-radius: 1vh;
    font-size: 2vh;
    box-shadow: 0px 4px 3px 1px rgba(0,0,0,0.08);
}

#submit:hover{
    transition: 400ms;
    color: #0dd3b5;
}

select:focus{
    outline: none;
}

input:focus{
    outline: none;
}

::placeholder{
    color: #c8c8c8;
}

a{
    color: black;
    text-decoration: none;
    font-size: 2vh;
    position: absolute;
    bottom: 1vh;
    display: inline-block;
}

.password{
    position: relative;
}

.error{
    color: #d11f1f;
}

.confirmation{
    margin: 2vh;
}

@media screen and (max-width: 900px){
    input{
        width: 70vw;
    }

    select{
        width: 70vw;
    }

    .confirmation{
        font-size: 8vw;
    }
}